<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.badr.opencon"
    android:installLocation="auto">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name="ru.badr.cosplay2.Cosplay2Application"
        android:allowBackup="true"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="ru.badr.cosplay2.activity.MainActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorPortrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="ru.badr.cosplay2.activity.FragmentWrapperActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="sensorPortrait" />

        <service
            android:name="com.octo.android.robospice.UncachedSpiceService"
            android:exported="false" />
        <service
            android:name="ru.badr.base.util.retrofit.LocalSpiceService"
            android:exported="false" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="efd84d8aad111b6460f13d8fafc8cdd3430b0735" />
    </application>

</manifest>
